Repository alec-c4/role_fu: changes, and which lefthook commands are due for each by the changed paths.
All: appraisal, rubocop

appraisal:
  run: bundle exec appraisal install && git add gemfiles/*.lock

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

feat: implement advanced role features and cleanup utilities
  README.md
  lib/generators/role_fu/abilities_generator.rb
  lib/generators/role_fu/audit_generator.rb
  lib/generators/role_fu/job_generator.rb
  lib/generators/role_fu/templates/abilities_migration.rb.erb
  lib/generators/role_fu/templates/audit_migration.rb.erb
  lib/generators/role_fu/templates/audit_model.rb.erb
  lib/generators/role_fu/templates/cleanup_job.rb.erb
  lib/generators/role_fu/templates/migration.rb.erb
  lib/generators/role_fu/templates/permission.rb.erb
  lib/role_fu.rb
  lib/role_fu/ability.rb
  lib/role_fu/adapters/cancancan.rb
  lib/role_fu/adapters/pundit.rb
  lib/role_fu/cleanup.rb
  lib/role_fu/configuration.rb
  lib/role_fu/permission.rb
  lib/role_fu/railtie.rb
  lib/role_fu/resourceable.rb
  lib/role_fu/role_assignment.rb
  lib/role_fu/roleable.rb
  lib/tasks/role_fu.rake
  spec/role_fu_spec.rb
  spec/spec_helper.rb
Due: rubocop

chore: add linux and intel mac platforms to Gemfile.lock
  Gemfile.lock
Due: none

chore: release 0.2.0
  CHANGELOG.md
  Gemfile.lock
  gemfiles/rails_7.0.gemfile.lock
  gemfiles/rails_7.1.gemfile.lock
  gemfiles/rails_7.2.gemfile.lock
  gemfiles/rails_8.0.gemfile.lock
  gemfiles/rails_8.1.gemfile.lock
  lib/role_fu/version.rb
Due: appraisal, rubocop

chore: add GitHub related stuff
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/inactive_issues.yml
  .github/workflows/label_issues.yml
  .github/workflows/main.yml
Due: none

chore: release v0.3.0
  .github/workflows/main.yml
  Appraisals
  CHANGELOG.md
  Gemfile.lock
  gemfiles/rails_7.0.gemfile
  gemfiles/rails_7.0.gemfile.lock
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.1.gemfile.lock
  gemfiles/rails_7.2.gemfile.lock
  gemfiles/rails_8.0.gemfile.lock
  gemfiles/rails_8.1.gemfile.lock
  lib/role_fu/version.rb
  role_fu.gemspec
Due: appraisal, rubocop

docs: update README
  README.md
Due: none

chore: release v0.3.1
  CHANGELOG.md
  Gemfile.lock
  README.md
  gemfiles/rails_7.2.gemfile.lock
  gemfiles/rails_8.0.gemfile.lock
  gemfiles/rails_8.1.gemfile.lock
  lib/generators/role_fu/abilities_generator.rb
  lib/generators/role_fu/audit_generator.rb
  lib/generators/role_fu/role_fu_generator.rb
  lib/role_fu/version.rb
Due: appraisal, rubocop

chore: release v0.3.2
  CHANGELOG.md
  Gemfile.lock
  gemfiles/rails_7.2.gemfile.lock
  gemfiles/rails_8.0.gemfile.lock
  gemfiles/rails_8.1.gemfile.lock
  lib/generators/role_fu/abilities_generator.rb
  lib/generators/role_fu/audit_generator.rb
  lib/generators/role_fu/role_fu_generator.rb
  lib/generators/role_fu/templates/abilities_migration.rb.erb
  lib/generators/role_fu/templates/audit_migration.rb.erb
  lib/generators/role_fu/templates/migration.rb.erb
  lib/role_fu/version.rb
Due: appraisal, rubocop

chore: release v0.3.3
  CHANGELOG.md
  Gemfile.lock
  gemfiles/rails_7.2.gemfile.lock
  gemfiles/rails_8.0.gemfile.lock
  gemfiles/rails_8.1.gemfile.lock
  lib/generators/role_fu/abilities_generator.rb
  lib/generators/role_fu/audit_generator.rb
  lib/generators/role_fu/role_fu_generator.rb
  lib/generators/role_fu/templates/abilities_migration.rb.erb
  lib/generators/role_fu/templates/audit_migration.rb.erb
  lib/generators/role_fu/templates/migration.rb.erb
  lib/role_fu/version.rb
Due: appraisal, rubocop

chore: release v0.4.0
  CHANGELOG.md
  Gemfile.lock
  README.md
  gemfiles/rails_7.2.gemfile.lock
  gemfiles/rails_8.0.gemfile.lock
  gemfiles/rails_8.1.gemfile.lock
  lib/generators/role_fu/templates/role_fu.rb
  lib/role_fu/configuration.rb
  lib/role_fu/resourceable.rb
  lib/role_fu/roleable.rb
  lib/role_fu/version.rb
  spec/dynamic_shortcuts_spec.rb
  spec/role_fu_spec.rb
Due: appraisal, rubocop

ci: raise minimum Ruby version to 3.3
  .github/workflows/main.yml
Due: none

chore: release v0.5.0
  CHANGELOG.md
  Gemfile.lock
  gemfiles/rails_7.2.gemfile.lock
  gemfiles/rails_8.0.gemfile.lock
  gemfiles/rails_8.1.gemfile.lock
  lib/role_fu/version.rb
  role_fu.gemspec
Due: appraisal, rubocop

chore: set TargetRubyVersion to 3.3
  .rubocop.yml
Due: none

feat: add field-level abilities, role name normalization, and a lightweight authorization guard
  README.md
  lib/generators/role_fu/templates/abilities_migration.rb.erb
  lib/generators/role_fu/templates/upgrade_permissions_field_migration.rb.erb
  lib/generators/role_fu/upgrade_generator.rb
  lib/role_fu.rb
  lib/role_fu/ability.rb
  lib/role_fu/adapters/cancancan.rb
  lib/role_fu/authorizable.rb
  lib/role_fu/role.rb
  lib/role_fu/roleable.rb
  spec/adapters/cancancan_spec.rb
  spec/authorizable_spec.rb
  spec/role_fu_spec.rb
  spec/spec_helper.rb
Due: rubocop

chore: release v0.6.0
  CHANGELOG.md
  Gemfile.lock
  gemfiles/rails_7.2.gemfile.lock
  gemfiles/rails_8.0.gemfile.lock
  gemfiles/rails_8.1.gemfile.lock
  lib/role_fu/version.rb
Due: appraisal, rubocop

feat: show upgrade reminder as a gem post-install message
  CHANGELOG.md
  role_fu.gemspec
Due: appraisal

Path conditions:
  appraisal: any of: {Gemfile,role_fu.gemspec,lib/role_fu/version.rb}
  rubocop: any of: *.rb
